.searchbar {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchbar #searchbar-input {
    border: 0px solid;
    border-bottom: 2px solid black;
    width: 600px;
    font-size: 4.9rem;
    outline: none;
    color: #606060;
    display: none;
}

.searchbar .fa-times {
    display: none;
    font-size: 5rem;
    cursor: pointer;
}

.searchbar .fa-search {
    font-size: 5rem;
    cursor: pointer;
}